@media screen and (max-width:620px){
    .col{
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
    }
  }
h1{
    padding: 15px;
    background-color: #FFFFFF;
    color: #424242;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    box-shadow: 0px 15px 30px #7B7B7B29;
    opacity: 2;

    
}
.box{
    width: 350px;
    height: 280px;
    border: 1px solid #EDEDED ;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #FFFFFF;
    opacity: 1;
    

}
.box:hover {
    box-shadow: 0px 0px 20px #67676729;
    border: 2px solid #EDEDED;
    
}


legend{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 64%;
    padding-top: 20px;
    padding-bottom: 35px;
    
}
h3{
    padding-left: 30px;
    border-bottom: 3px solid #F7F7F7;
    padding-bottom: 20px;
    
}
i{
    padding-top: 10px;
    padding-left: 30px;
    color: #C2C2C2;
}
.section1{
    display: flex;
}


.second{
    margin-top: 10px;
    
}
span{
    color: #00A5EC;
}
strong{
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
}
del{
    color: #C2C2C2;
}

.pad{
    padding-left: 15%;
    

   
   
}
.h{
    padding-left: 370px;
}
hr{
    color: #F7F7F7 1px;
}
a{
    text-decoration: none;
    color:#00A5EC ;
}
p{
    width: 326px ;
    padding: 7px 12px 12px 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
 
    border-bottom: #EDEDED 2px solid;
    

    
    
}
input{
    font-family: Arial, Helvetica, sans-serif;
    width: 290px;
    padding: 10px;
    border: 1px solid #EDEDED;
    margin: 20px 10px 10px 20px;
    background-color: #F7F7F7;

}
.div1{
    width: 350px;
    border: 1px solid #EDEDED;
    border-radius: 7px;
    background-color:#FFFFFF;
    box-shadow: 0px 0px 90px #0d060629;
   
    
    
    
  

}
button{
    padding: 9px 37px 9px 35px;
    color: #EDEDED;
    background-color:  #00A5EC;
    border-radius: 4px;
    border: #EDEDED 2px;
    margin-left: 195px;
    margin-top: 10px;
    margin-bottom: 35px;
    
}

.container{
   
  
    width: 100%;
    filter:blur(5px) ;
    
    
  
    
   
  
    
} 
.container2{
    position: absolute;
    margin-top: 250px;
    margin-left: 10px;


}
.rdh{
    display: flex;
}
.gry{
   


 opacity: 5 rgb(114, 106, 106);
 
   
  
}
.clear{
    margin-left: 160px;
    font-weight: 10px;
    color: #a7a5a5;
    text-decoration: none;
  }





